<app-top-bar></app-top-bar>
<nav>
  <a class="button" routerLink="/product-list">Template Form</a> |
  <a class="button" routerLink="/reactive-forms-demo">Reactive Form</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<p>App Component Here</p>
<ul>
  <li *ngFor="let emp of employees">{{emp.name}} transforms to : {{ emp.name | repeatPipe:3 | uppercase}}</li>
</ul>
<form #userData="ngForm" (ngSubmit)="updateUserList(userData.value)">
<input type="text" name="userList">
<input type="submit" value="AddUser">
</form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
